// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.dashboard {
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Noto Sans JP' !important;
        color: white !important;
    }
}

.rooms {

}

.rooms-links {
    padding: 10px;

    background-color: rgb(34, 34, 34);
    color: white !important;
}

.room-channels {
    padding: 10px;

    background-color: rgb(47, 47, 51);

    .room-title {
        height: 35px;

        // border: 0 0 2px 0 black;
    }

    .all-channels {
        padding: 0 5px;
    }

    .channels {
        margin: 15px 0;
    }

    .channel-header {
        margin: 0 0 5px 0;
        font-size: 12px;
    }

    .channel {
        padding: 5px;
        margin: 5px 0;

        font-size: 14px;

        cursor: pointer;
    }

    .channel:hover {
        color: white !important;
        background: rgba(129, 129, 129, .4);

        border-radius: 5px;
    }

    .active {
        color: white !important;
        background: rgba(129, 129, 129, .4);

        border-radius: 5px;
    }

    p {
        color: rgb(156, 156, 156);
    }
}

.room {
    background-color: rgb(63, 65, 70);

    .room-settings {
        height: 35px;
        margin: 10px 0 0 0;

        // box-shadow: 0 2px 0px 0px #777;
    }

    h6 {
        
    }
}

.room-chat {
    padding: 10px 5px;

    h2 {
        width: 70%;
        margin: 20px 0 10px 15%;
    }

    p {
        margin: 0;

        color: rgb(199, 199, 199);
    }

    .messages {
        margin: 80px 0 0 0;
    }

    .message {
        margin: 3px 0;
        padding: 6px 12px;
    }

    .message:hover {
        background-color: rgb(57, 59, 65);

        border-radius: 3px;
        cursor: pointer;
    }
}

.room-patrons {
    padding: 10px;

    background-color: rgb(47, 47, 51);
}